text/map_vystupy/psmap/krovak/metadata/non-iso/geodataCR.dtd

<!ELEMENT dataset   (mapset+)>
<!ELEMENT mapset    (rastr?, vektor?)>
<!ELEMENT rastr     (vrstva+)>
<!ELEMENT vektor    (vrstva+)>
<!ELEMENT vrstva    (nazev, popis, atributy, zdroj+, historie+)>
<!ELEMENT nazev     (#PCDATA)>
<!ELEMENT popis     (#PCDATA|mapa)*>
<!ELEMENT atributy  (atribut*)>
<!ELEMENT zdroj     (#PCDATA)>
<!ELEMENT historie  (#PCDATA)>
<!ELEMENT atribut   (#PCDATA)>
<!ELEMENT mapa      (#PCDATA)>

<!ATTLIST dataset
          popis     CDATA   #REQUIRED>
<!ATTLIST mapset
          id        ID      #REQUIRED
          verze     CDATA   #REQUIRED
          datum     CDATA   #REQUIRED>
<!ATTLIST vrstva
          id        ID      #REQUIRED
          stav      CDATA   #IMPLIED>
<!ATTLIST zmena
          pozn      CDATA   #IMPLIED
          title     CDATA   #IMPLIED>
<!ATTLIST atribut
          kod       CDATA   #IMPLIED>
<!ATTLIST zdroj
          title     CDATA   #IMPLIED
          pozn      CDATA   #IMPLIED>
<!ATTLIST historie
          text      CDATA   #REQUIRED>

<!ENTITY nbsp "&#160;">